.card-admin{
    box-shadow: 0 1px 2px rgb(0 0 0 /20%);
    margin: 5%;
    padding: 5%;
}

.input-admin{
    width: 100%;
    border: 1px solid #bebebe;
    margin-bottom: 10px;
    padding: 5px 20px;
}

.select-admin{
    width: 30%;
    padding:14px 20px;
    margin: 5px 0px;
    border: 1px solid #bebebe;
border-radius: 5px;
margin-right: 13px;

}
.submit-btn{
    width: 100px;
    padding: 12px;
    background-color: blue;
    color: #eee;
    border: none;
    border-radius: 7px;
    font-size: 20px;
}

